body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('images/back.jpg');
  background-attachment: fixed;
  background-position: bottom left;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  height: 200px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  background:  rgb(172, 155, 194);  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f7cd97, rgb(172, 155, 194));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f7cd97, rgb(172, 155, 194)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header > h3 {
  font-family: VT323, monospace;
  color: whitesmoke;
  font-size: 40px;
  right: 16rem;
  position: absolute;
  text-align: center;
  text-shadow: 1px 2px grey;
}
#userInfoContainer{
  position: absolute;
  text-align: left;
  right:1rem;
  padding-left:1px;
}

footer {
  height: 150px;
  display: flex;
  align-items: center;
  text-align: center;
  bottom: 0;
  width: 100%;
  position: relative;
  justify-content: center;
  background: rgb(172, 155, 194);  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f7cd97, rgb(133, 121, 150));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ddaa7f, rgb(76, 54, 89)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


label {
  margin: 4px;
  padding-top: 50px;
}
footer > p {
  font-family: VT323, monospace;
  color: whitesmoke;
  font-size: 50px;
}

.footerImage {
  height: 100px;
  padding-right: 20px;
  padding-left: 20px;
}

#footerText {
  text-align: right;
}
#map {
  position: relative;
  min-height: 100vh;
  padding-right: 5rem;
  padding-left: 5rem;
  padding-bottom: 5rem;
}

.form-component {
  justify-content: center;
  align-items: center;
  min-height: 100%;
  position: relative;
  text-align: center;
  padding-top: 50px;
}

.location-popup {
  display: auto;
  position: fixed;
  bottom: 0;
  right: 15px;
  border-radius: 20px;
  z-index: 9999;
}

.location-container {
  max-width: 500px;
  min-width: 180px;
  border-radius: 10px;
  font-size: 12px;
  padding:5px;
  background-color: white;
  border: solid black 1px;
  z-index: 999;
}

.pointer {
  width: 20px;
  height: 20px;
  border: 1px solid rgb(133, 67, 187);
  border-radius: 15px;
  background-color: rgb(199, 168, 235);
  opacity: 0.5;
}

#sunsetImage{
  width:20px;
}
#sunriseImage{
  width:20px;
}

